{% load static %}
<nav class="sidebar-wrapper">

    <!-- Sidebar brand starts -->
    <div class="sidebar-brand">
        <a href="base.html" class="logo">
            <img src="{% static 'assets/images/logo.svg' %}" alt="Max Free Admin Dashboard"/>
        </a>
    </div>
    <!-- Sidebar brand starts -->

    <!-- Sidebar menu starts -->
    <div class="sidebar-menu">
        <div class="sidebarMenuScroll">
            <ul>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="bi bi-file-earmark"></i>
                        <span class="menu-text">Servicios</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="{% url 'service_list' %}">Servicios</a>
                                <a href="#">Recibos</a>
                                <a href="#">Tarifas</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="bi bi-person-circle"></i>
                        <span class="menu-text">Clientes</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="#">Clientes</a>
                                <a href="#">Direcciones</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Sidebar menu ends -->

</nav>